/*
Author     Cristian Sima
*/

#logo {
  height: 30px;
  width: 30px;
  display: inline;
}

/* Fix Mozilla responsive table for small screens */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Fix table responsible drop down button not visible */
@media screen and (max-width: 767px) {
 .table-responsive {
   width: 100%;
   margin-bottom: 15px;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
   border: 1px solid #ddd;
  }

/* The defualt headers were too big */
h1 {
  font-size:  30px
}
h2 {
  font-size:  24px
}
h3 {
  font-size:  22px
}
h4 {
  font-size:  20px
}
h5 {
  font-size:  16px
}
h6 {
  font-size:  12px
}
