<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Something went wrong</title>
        <link rel="stylesheet" href="/static/css/error/style.css">        
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                <div class="navtop">
                    <h1>Something went wrong</h1>
                </div>
                <div id="content">
                    <br>It's a shame... Wisply thinks the cause may be:
                    <br />
                    <br />
                    <br />
                    
                    Maintenence in progress <br />
                    Connection with database is temporary closed<br >
                    Wisply got lost in the web <br />
                    
                    <br><br><br>
                    Maybe you want to try again in just a few minutes? <br/> 
                </div>
            </div>
        </div>
    </body>
</html>