.institution-profile {
  height:180px
}
.institution-profile .inlogo {
  max-height: 100px;
  max-width: 100px;
  text-align:center;
}
.institution-profile .insider {
  padding-top: 20px;
  height:100px;
  width:100%;
  margin-bottom:30px
}
.institution-logo-default  {
  font-size: 8em;
}
